
	<!-- This is _navigation.html -->
<div>
  {{#user}}
    <form action="/logout" method="post">
      Hello, {{ username }}
      <button>Logout</button>
      <input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}">
    </form>
    
	   {{#isAccountant}}
	    <a href="/billing-records">Billing Records</a>
	  {{/isAccountant}}
	  
	  {{#isClerk}}
	    <a href="/billing-records">Invoices</a>
	  {{/isClerk}}
	  
	  {{#isAdmin}}
	    <a href="/billing-records">Billing Records</a>
	    <a href="/billing-records">Invoices</a>
	  {{/isAdmin}}
  {{/user}}
  {{#notUser}}
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>
  {{/notUser}}
</div>
